name: Deploy Backend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      # jar 파일 전송
      - name: Copy Jar to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }} # Secrets에 'ubuntu'라고 등록하세요!
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: "build/libs/*SNAPSHOT.jar"
          target: "/home/ubuntu/app/backend" # 기존 경로로 변경!
          strip_components: 2

      # 실행
      - name: Execute Server Script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            # 기존 백엔드 종료
            fuser -k 8080/tcp || true
            # 새 파일 실행 (경로가 /home/ubuntu/app/backend 인지 확인!)
            nohup java -jar /home/ubuntu/app/*SNAPSHOT.jar > /home/ubuntu/app/backend/backend.log 2>&1 &